.idea/
__pycache__/
*.pyc

Controller/devel/
Controller/build/
Controller/.catkin_workspace

Simulator/devel/
Simulator/build/
Simulator/logs/
Simulator/.catkin_tools/

YOPO/saved/*
dataset/
dataset_dynamic/
yopo_sim/

!YOPO/saved/YOPO_1/